@tailwind base;
@tailwind components;
@tailwind utilities;

a:focus-visible,
button:focus-visible,
input:focus-visible,
select:focus-visible,
textarea:focus-visible {
  @apply shadow-none outline-dotted outline-2 outline-neutral-900 outline-offset-1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-nunito
}

h1 {
  @apply text-[2.5rem] lg:text-[3.5rem]
}

h2 {
  @apply text-[2rem] md:text-[2.5rem]
}

h3 {
  @apply text-[1.5rem] md:text-[2rem]
}

.gradient {
  @apply bg-gradient-to-r from-secondary-50 to-primary-50
}

.form-field {
  @apply grid gap-2 w-full;
}

.form-input {
  @apply bg-terciary-50 p-4 min-h-[3.5rem] w-full;
}
